@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixin";
.login {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: $gray-dark;
  &__container {
    max-width: 400px;
    width: 100%;
    padding: 32px 24px;
    margin: 32px 12px;
    box-shadow: $box-shadow;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
  }
  &__button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    display: flex;
    margin: 0 auto;
    border-radius: 24px;
    position: relative;
    height: 40px;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color: $main-color;
      border-radius: 24px;
      z-index: -1;
      transition: 0.5s ease-in-out;
      &.active {
        transform: translateX(100%);
      }
    }
    button {
      padding: 8px 12px;
      width: 50%;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  &__form {
    display: flex;
    width: 800px;
    margin-left: -24px;
    transition: 0.5s ease-in-out;
    @include mobile {
      width: calc(200vw - 48px);
    }
    &.active {
      transform: translateX(-50%);
    }

    &__sign-in,
    &__sign-up {
      width: 100%;
    }
  }
  &__wrapper {
    margin: 24px;
  }
  &__message {
    margin-top: 8px;
    color: $main-color;
    &--center {
      text-align: center;
    }
  }
  &__input {
    display: flex;
    align-items: center;
    background-color: #dfdfdf;
    padding: 0 12px;
    border-radius: 12px;
    overflow: hidden;
    input {
      flex: 1;
      padding: 12px;
      outline: none;
      border: none;
      border-radius: 12px;
      background-color: transparent;
    }
  }
  &__img {
    margin: 24px;
    img {
      width: 100%;
      max-width: 400px;
      height: 150px;
    }
  }
  &__bottom {
    margin: 0 24px;
    p {
      margin-top: 12px;
      text-align: center;
    }
    span {
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
    }
  }
  &__spin {
    color: #fff;
    font-size: 2rem;
    animation: rotate 3s linear infinite;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
