.toast {
  font-size: 1.5rem;
  &__title {
    font-weight: 700;
    margin-bottom: 6px;
  }
}

.Toastify__toast--success {
  background-color: #07bc0c !important;
  color: #fff !important;
  svg {
    color: #fff !important;
    fill: #fff;
  }
}
.Toastify__toast--error {
  background-color: #e74c3c !important;
  color: #fff !important;
  svg {
    color: #fff !important;
    fill: #fff;
  }
}
.Toastify__toast--warning {
  background-color: #f1c40f !important;
  color: #fff !important;
  svg {
    color: #fff !important;
    fill: #fff;
  }
}
.Toastify__toast-container--top-right {
  top: 70px !important;
}
